*{
  margin: 0;
  padding: 0;
}
html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 26.6vw;
}
body{
  font-size: .12rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
